<title>TinyApp</title>
<h1>TinyApp</h1>
<% if (user && user.id) {%>
<h1>Welcome : <%= user.email %></h1>
<form method="POST" action="/logout">
  <div class="form-group"> 
    <button type="submit" class="btn btn-primary">Logout</button>
  </div>
</form>
<%} else {%>
  <br></br>
  <a href="/login">Login</a> |  <a href="/register">Register</a>
  <br></br>

<% } %>
