<h1>Welcome to TinyApp</h1>
<title>TinyApp</title>
<br>
</br>
<a href="/urls">Home</a>


<% if (user && user.id) {%>
<h1>Welcome : <%= user.email %></h1>
<form method="POST" action="/logout">
  <div class="form-group"> 
    <button type="submit" class="btn btn-primary">Logout</button>
  </div>
</form>
<%} else {%>
  <a href="/login">Login</a> |  <a href="/register">Register</a>
<% } %>
